<template>
  <v-tooltip :disabled="noTooltip" v-bind="pos">
    <template v-slot:activator="{ on }">
      <div v-on="on">
        <v-icon style="cursor: pointer"
         v-on="listeners"
         v-bind="$attrs">
          <slot name="icon"></slot>
       </v-icon>
     </div>
    </template>
    <slot name="description"></slot>
  </v-tooltip>
</template>

<script>
import {VTooltip, VIcon} from 'vuetify/lib'

export default{
  name: 'VIconTooltip',
  inheritAttrs: false,
  props:{
    position:{
      type: String,
      default: 'bottom'
    },
    noTooltip:{
      type: Boolean,
      default: false
    }
  },
  components:{
    VTooltip, VIcon
  },
  computed:{
    listeners(){
      return {
        ...this.$listeners,
        icon: e => this.$emit('icon', e.target.value)
      }
    },
    pos(){
      let p = {top:false, bottom:false, left:false, right:false}
      p[this.position] = true
      return p
    }
  },
}
</script>
