<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <VIconTooltip
      class="mr-1"
      small
      color="secondary"
      position="top"
    >
      <template v-slot:description>1234</template>
      <template v-slot:icon>mdi-identifier</template>
    </VIconTooltip>

  </v-layout>
</template>

<script>
import VIconTooltip from '@/components/VIconTooltip'

export default {
  components: {
    VIconTooltip
  }
}
</script>
